.ant-layout-header {
    background: white;
    padding: 0 10vw;

    .ant-page-header {
        padding: 2rem 0;
    }
    
    .ant-page-header-heading-extra {
        width: auto;
        text-align: right;
        padding-top: 0;
    }
}

.ant-layout-content {
    background: white;
}

.ant-time-picker--hidden {
    .ant-time-picker-input, .ant-time-picker-icon {
        display: none;
    }
}

.ant-time-picker-panel-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100vw;

    .ant-time-picker-panel-combobox {
        width: 80vw;
        margin-left: 10vw;

    }

    .ant-time-picker-panel-select {
        width: 33%;
        border-left: none;
        ul {
            width: auto;
            li {
                text-align: center;
                font-size: 1.5rem;
                height: 3rem;
                line-height: 3rem;
            }
            .ant-time-picker-panel-select-option-selected {

                font-size: 2rem;
                height: 4rem;
                line-height: 4rem;
            }
        }
    }


    .ant-time-picker-panel-input-wrap {
        display: none;
    }
}