.ant-layout-header {
    background: white;
    padding: 0 10vw;

    .ant-page-header {
        padding: 2rem 0;
    }
    
    .ant-page-header-heading-extra {
        width: auto;
        text-align: right;
        padding-top: 0;
    }
}

.ant-layout-content {
    background: white;
}