.container--margin {
    margin: 5vh 10vw;
    max-width: 80vw;
}

.container--margin-top {
    margin: 10vh 0;
}

.container--margin-top {
    margin: 0 10vh;
}

.hidden--active {
    opacity: 0;
    transition: all 1s;
}
.hidden--show {
    opacity: 1;
    transition: all 1s;
}