// SIMPLE TYPOGRAPHY

.t--bold {
  font-weight: bold;
}

.t--italic {
  font-style: italic;
}

// CASE-HANDLING

.t--lowercase {
  text-transform: lowercase;
}

.t--uppercase {
  text-transform: uppercase;
}

.t--capitalize {
  text-transform: capitalize;
}

.t--full {
  text-transform: full-width;
}

.t--lowercase {
  text-transform: lowercase;
}

.t--grey {
  color: grey;
}

.t--lightgrey {
  color: lightgrey;
}

.t--circle {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 50%;

}

.t--large {
  font-size: 2rem;
}

.input--no-outline {
  outline: none !important;
}