// SIMPLE TYPOGRAPHY

.t--bold {
  font-weight: bold;
}

.t--italic {
  font-style: italic;
}

// CASE-HANDLING

.t--lowercase {
  text-transform: lowercase;
}

.t--uppercase {
  text-transform: uppercase;
}

.t--capitalize {
  text-transform: capitalize;
}

.t--full {
  text-transform: full-width;
}

.t--lowercase {
  text-transform: lowercase;
}

.t--grey {
  color: grey;
}
